{% extends 'base.html.twig' %}

{% block filAriane %}
    <li class="breadcrumb-item text-muted">Mission</li>
    <li class="breadcrumb-item"><span class="bullet bg-gray-200 w-5px h-2px"></span></li>
    <li class="breadcrumb-item text-dark">Create a new mission</li>
{% endblock %}

{% block body %}
    <main>
        <h1 style="margin-left: 30px">Create a New Mission</h1>

        <div id="kt_content_container" class="container-xxl">
            <!--begin::Row-->
            <div class="row g-5 g-xl-8">
                <div class="col-xl-6">
                    <div class="card card-xl-stretch mb-xl-8">
                        <div class="card-header align-items-center border-0 mt-4">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="fw-bolder text-dark">Buyer</span>
                                <span class="text-muted mt-1 fw-bold fs-7">Who buy</span>
                            </h3>
                        </div>

                        <div class="card-body pt-3">
                            <form id="kt_modal_new_target_form" class="form" action="#">
                                <div class="d-flex flex-column mb-8 fv-row">
                                    <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                        <span class="required">Name</span>
                                        <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Enter your name"></i>
                                    </label>
                                    <input type="text" class="form-control form-control-solid" placeholder="John Smith" name="target_title" />
                                </div>
                                <div class="d-flex flex-column mb-8 fv-row">
                                    <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                        <span class="required">Wallet</span>
                                        <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Enter your wallet here"></i>
                                    </label>
                                    <input type="text" class="form-control form-control-solid" placeholder="0x0...al" name="target_title" />
                                </div>
                                <div class="d-flex flex-column mb-8 fv-row">
                                    <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                        <span class="required">Telegram</span>
                                        <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Enter your telegram ID"></i>
                                    </label>
                                    <input type="text" class="form-control form-control-solid" placeholder="@johnSmith" name="target_title" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <div class="col-xl-6">
                    <div class="card card-xl-stretch mb-5 mb-xl-8">
                        <div class="card-header align-items-center border-0 mt-4">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="fw-bolder text-dark">Seller</span>
                                <span class="text-muted mt-1 fw-bold fs-7">Who sell</span>
                            </h3>
                        </div>

                        <div class="card-body pt-3">
                            <div id="kt_modal_new_target_form" class="form">
                                <div class="d-flex flex-column mb-8 fv-row">
                                    <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                        <span class="required">Name</span>
                                        <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Enter your name"></i>
                                    </label>
                                    <input type="text" class="form-control form-control-solid" placeholder="Captain Marvel" name="target_title" />
                                </div>
                                <div class="d-flex flex-column mb-8 fv-row">
                                    <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                        <span class="required">Wallet</span>
                                        <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Enter your wallet here"></i>
                                    </label>
                                    <input type="text" class="form-control form-control-solid" placeholder="0x0...al" name="target_title" />
                                </div>
                                <div class="d-flex flex-column mb-8 fv-row">
                                    <label class="d-flex align-items-center fs-6 fw-bold mb-2">
                                        <span class="required">Telegram</span>
                                        <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Enter your telegram ID"></i>
                                    </label>
                                    <input type="text" class="form-control form-control-solid" placeholder="@captainMarvel" name="target_title" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="kt_content_container" class="container-xxl">
            <div class="card mb-5 mb-xl-8">
                <div class="card-header border-0 pt-5">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bolder fs-3 mb-1">Mission Description</span>
                    </h3>
                </div>
                <div class="card-body pt-3">
                    <div class="table-responsive">
                        <div class="card">
                            <div class="card-body">
                                <div class="row mb-8">
                                    <div class="col-xl-3">
                                        <div class="fs-6 fw-bold mt-2 mb-3">Mission Name</div>
                                    </div>
                                    <div class="col-xl-9">
                                        <textarea name="notes" class="form-control form-control-solid" rows="1">Save an avenger</textarea>
                                    </div>
                                </div>
                                <div class="row mb-8">
                                    <div class="col-xl-3">
                                        <div class="fs-6 fw-bold mt-2 mb-3">Mission description</div>
                                    </div>
                                    <div class="col-xl-9">
                                        <textarea name="notes" class="form-control form-control-solid" rows="5">Please save iron Man Life</textarea>
                                    </div>
                                </div>
                                <div class="row mb-8">
                                    <div class="col-xl-3">
                                        <div class="fs-6 fw-bold mt-2 mb-3">Mission end date</div>
                                    </div>
                                    <div class="col-xl-9">
                                        <input class="form-control form-control-solid ps-12" placeholder="Select a date" type="date" name="due_date" />
                                    </div>
                                </div>
                                <div class="row mb-8">
                                    <div class="col-xl-3">
                                        <div class="fs-6 fw-bold mt-2 mb-3">Mission amount</div>
                                    </div>
                                    <div class="col-xl-9">
                                        <div class="position-relative w-md-300px" data-kt-dialer="true" data-kt-dialer-min="1000" data-kt-dialer-max="50000" data-kt-dialer-step="1000" data-kt-dialer-prefix="$" data-kt-dialer-decimals="2">
                                            <button type="button" class="btn btn-icon btn-active-color-gray-700 position-absolute translate-middle-y top-50 start-0" data-kt-dialer-control="decrease">
                                                <span class="svg-icon svg-icon-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="black" />
                                                        <rect x="6.0104" y="10.9247" width="12" height="2" rx="1" fill="black" />
                                                    </svg>
                                                </span>
                                            </button>
                                            <input type="text" class="form-control form-control-solid border-0 ps-12" data-kt-dialer-control="input" placeholder="Amount" name="manageBudget" readonly="readonly" value="$36,000.00" />
                                            <button type="button" class="btn btn-icon btn-active-color-gray-700 position-absolute translate-middle-y top-50 end-0" data-kt-dialer-control="increase">
                                                <span class="svg-icon svg-icon-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                        <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="5" fill="black" />
                                                        <rect x="10.8891" y="17.8033" width="12" height="2" rx="1" transform="rotate(-90 10.8891 17.8033)" fill="black" />
                                                        <rect x="6.01041" y="10.9247" width="12" height="2" rx="1" fill="black" />
                                                    </svg>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer d-flex justify-content-end py-6">
                                <button type="reset" class="btn btn-light btn-active-light-primary me-2">Discard</button>
                                <button type="submit" class="btn btn-primary">Create a new mission</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
